<div class="col-10 offset-1">
  <h1>About the Feynmanizer</h1>
  <h2>What is the Feynman Technique?</h2>
  <p>The Feynman Technique is a mental model named after Richard Feynman, a physisict
  who won a Nobel Prize for his work in Quantum Electrodynamics.</p>
  <h4>Four Steps:</h4>
  <ol>
  <li>Choose a concept.</li>
  <li>Teach a toddler.</li>
  <li>Identify gaps.</li>
  <li>Review & simplify.</li> 
  </ol>
</div>
