<% @facts.each do |fact| %>
<div class="card">
<h1><%= link_to fact.title, fact_path(fact) %></h1>
<h2><%= fact.blurb %></h2>
<p><%= fact.category %></p>
<br>
<% if fact.user.present? %>
<small><%= fact.user.email %></small>
<% end %>
</div>

<% end %>
