@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.clear {
  clear: both;
}

.feynman-img {
  object-fit: cover;
  width:75px;
  height:75px;
  margin: 12px;
  border-radius: 100%;
}

.top {
  background-color: #8d8e8f;
  height: 95px;
}

.tagline {
  margin-top: 35px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-style: italic;

}

.links {
  margin-top: 26px;
  font-family: 'Raleway', sans-serif;

}

.dropbtn {
  background-color: #8d8e8f;
  color: white;
  padding: 13.5px;
  font-size: 16px;
  border: none;
  margin: 0;
  font-family: 'Raleway', sans-serif;

}

.dropdown {
  position: relative;
  display: inline-block;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Raleway', sans-serif;

}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #555657;}

.no-drop{
  background-color: #8d8e8f;
  color: white;
  font-size: 16px;
  border: none;
  margin: 0;
  text-decoration: none;
  padding: 13.5px;

}
.no-drop:hover {
  background-color: #555657;
  text-decoration: none;
  color: white;
}

h1 {
font-family: 'colaborate-boldregular', 'sans-serif';
}

h2 {
font-family: 'colaborate-regularregular', 'sans-serif';
color: black;
}

p {
font-family: 'colaborate-thinregular', 'sans-serif';
color: black;
}

.card {
  text-align: center;
  padding: 10px 8px 10px 8px;
  background-color: rgba(95, 95, 95,.3);
  box-shadow: 5px 10px 10px 5px #888888;
  margin: 25px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url('pipes.png');
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.footer-blurb{
  text-align: right;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;


}
.next-quote {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;

}
.form {
  text-align: left;
  padding: 25px;
  background-color: rgba(95, 95, 95,.3);
  box-shadow: 5px 10px 10px 5px #888888;
  margin: 25px;
  color: black;
}

.form-check {
  margin: 25px;
}

.form, a {
  color: black;
}

.form, a:hover {
  color: grey;
}
.form-inputs {
  color: black;
}
.clear {
  clear: both;
}
