@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.clear {
  clear: both;
}

.feynman-img {
  object-fit: cover;
  width:75px;
  height:75px;
  margin: 12px;
  border-radius: 100%;
}

.top {
  background-color: #8d8e8f;
  height: 95px;
}

.tagline {
  margin-top: 35px;
  color: white;
  font-family: 'Raleway', sans-serif;

}

.links {
  margin-top: 26px;
  font-family: 'Raleway', sans-serif;

}

.dropbtn {
  background-color: #8d8e8f;
  color: white;
  padding: 13.5px;
  font-size: 16px;
  border: none;
  margin: 0;
  font-family: 'Raleway', sans-serif;

}

.dropdown {
  position: relative;
  display: inline-block;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Raleway', sans-serif;

}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #555657;}

.no-drop{
  background-color: #8d8e8f;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin: 0;
  text-decoration: none;

}
.no-drop:hover {
  background-color: #555657;
  text-decoration: none;
  color: white;
}
